@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.text-primary {
  color: #ffffff !important;
}
.text-danger {
  color: #6610f2 !important;
}
#purple-section {
  background-color: #6610f2;
}
#contact-section, #testimonial-section .card {
  background-color: #f8fbfb !important;
}
.image-flip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 60vw;
}
#page-one {
  padding-top: 100px;
}
#page-one .first-page img,
.swiper-slide img,  #purple-section img {
  width: 30vw;
}
.ceo-icon .profile-icon h3, .ceo-icon .profile-icon h6 {
  font-family: "Raleway", sans-serif;
}
.ceo-icon img {
  width: 40vw;
}
.swiper {
  width: 30vw;
  height: 35vw;
  padding: 50px;
}
#brands-section img {
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

#contact-section {
  background-color: #6610f2 !important;
}

.form-section {
  width: 60vw !important;
  padding-left: 20px;
  padding-right: 20px;
  margin: 30px auto !important;
  background-color: #6610f2 !important;
}


